/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    // print help
    help = false

    /*
    Mandatory options
    =================
    */

    // *input options*
    // must specify one of inputdir or samplesheet
    // path to demultiplexed read directory
    inputdir = null
    // path to sample manifest in CSV format
    samplesheet = null

    // *references*
    // path to reference genome in fasta format
    genome = null
    // path to genome annotation in GTF format
    annotation = null

    /*
    Additional options
    =================
    */
    // *output directory*
    outdir = "results"
}
