/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// include config file with default parameters
includeConfig "${projectDir}/conf/params.config"

/*
Pipeline metadata
*/

manifest {
    name = 'ONT-CaptureSeq-nf'
    contributors = [
        [
            name: 'Osama Arshad',
            affiliation: 'University of Oxford',
            contribution: 'author',
        ]
    ]
    homePage = 'https://github.com/oarshad25/ONT-CaptureSeq-nf'
    description = 'analysis of multiplexed long-read nanopore targeted RNA capture sequencing'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    license = 'GPLv3'
    nextflowVersion = '!>=24.04'
    version = '0.0.1dev'
    doi = ''
}

/*
Configuration profiles

Define profiles for different execution platforms
*/

profiles {

    /*
    standard profiles
    */

    debug {
        //dumpHashes                                   = true
        process.beforeScript = 'echo $HOSTNAME'
        //cleanup                                      = false
        nextflow.enable.configProcessNamesValidation = true
    }

    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        apptainer.enabled = false
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    arm {
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    /*
    profiles for technical configuration of execution platform
    */

    laptop {
        includeConfig 'conf/laptop.config'
    }

    bmrc {
        includeConfig 'conf/bmrc.config'
    }

    // profile for running jobs locally on a BMRC node obtained with srun
    bmrc_local {
        includeConfig 'conf/bmrc_local.config'
    }

    /*
    profiles to set pipeline parameters for actual datasets
    */

    bd2_pilot {
        includeConfig 'conf/bd2_pilot.config'
    }

    /*
    profiles to run pipeline with test parameters
    */

    test_bd2_pilot {
        includeConfig 'conf/test_bd2_pilot.config'
    }

    test_wf_transcriptomes {
        includeConfig 'conf/test_wf_transcriptomes.config'
    }

    test_sirv {
        includeConfig 'conf/test_sirv.config'
    }

    test_sib_lr_course {
        includeConfig 'conf/test_sib_lr_course.config'
    }
}

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

// Output an html timeline report
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}

// Output resource and runtime reports for a workflow run
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}

// Output process execution trace file
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}

// Produce a workflow diagram
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
