/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// include config file with default parameters
includeConfig "${projectDir}/conf/params.config"

/*
Pipeline metadata
*/

manifest {
    name = 'ONT-CaptureSeq-nf'
    contributors = [
        [
            name: 'Osama Arshad',
            affiliation: 'University of Oxford',
            contribution: 'author',
        ]
    ]
    homePage = 'https://github.com/oarshad25/ONT-CaptureSeq-nf'
    description = 'analysis of multiplexed long-read nanopore targeted RNA capture sequencing'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    license = 'GPLv3'
    nextflowVersion = '!>=24.04'
    version = '0.0.1dev'
    doi = ''
}

/*
Configuration profiles

Define profiles for different execution platforms
*/

profiles {

    /*
    profiles for technical configuration of execution platform
    */

    laptop {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'

        executor.cpus = 6
        executor.memory = '16 G'
    }

    bmrc {
        includeConfig 'conf/bmrc.config'
    }

    // profile for running jobs locally on a BMRC node obtained with srun
    bmrc_local {
        includeConfig 'conf/bmrc_local.config'
    }

    // local profile for running locally
    local {
        process.executor = 'local'
    }

    /*
    profiles to run pipeline with test parameters
    */

    test_wf_transcriptomes {
        includeConfig 'conf/test_wf_transcriptomes.config'
    }

    test_sirv {
        includeConfig 'conf/test_sirv.config'
    }

    test_sib_lr_course {
        includeConfig 'conf/test_sib_lr_course.config'
    }
}
