// profile for local execution on the BMRC cluster

params {
    config_profile_description = 'BMRC local profile'
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = '/well/pharrison/users/piz649/.apptainer_cache'
}

executor {
    cpus = "${env('SLURM_CPUS_PER_TASK')}"
    memory = "${env('SLURM_MEM_PER_NODE')}"
}

process {
    executor = 'local'

    // label for processes to not use container but locally installed software
    withLabel: local_software {
        container = ""
    }

    // Apptainer containers are not writeable but Isoquant tries to write some files in container
    // https://apptainer.org/docs/user/main/docker_and_oci.html#read-only-by-default
    withName: ISOQUANT {
        containerOptions = '--writable-tmpfs'
    }

    // for shared file systems like BMRC cluster
    cache = 'lenient'

    // Fail a task if any command returns non-zero exit code
    // See https://www.nextflow.io/docs/latest/reference/process.html#shell
    shell = ['/bin/bash', '-euo', 'pipefail']
}
