// profile for BMRC cluster

params {
    config_profile_description = 'BMRC profile'
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = '/well/pharrison/users/piz649/.apptainer_cache'
}

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = "10/1sec"
    exitReadTimeout = "5 min"
}

process {
    // TODO: Configure default process resources
    // default process resources
    // queue = 'short'
    // cpus = 2
    // memory = '16GB'
    // time = '8h'

    /*
    TODO: Set up process configuration based on labels
    */

    //TODO: Change to use task.attempt and
    // check_max as done here:
    // https://github.com/Sydney-Informatics-Hub/nf-core-demo/blob/master/conf/base.config
    // withLabel: local {
    //     executor = 'local'
    // }
    // withLabel: single {
    //     cpus = 1
    //     memory = 6.GB
    //     time = 4.h
    // }
    // withLabel: low {
    //     cpus = 2
    //     memory = 12.GB
    //     time = 4.h
    // }
    // withLabel: medium {
    //     cpus = 6
    //     memory = 36.GB
    //     time = 8.h
    // }
    // withLabel: high {
    //     cpus = 12
    //     memory = 72.GB
    //     time = 16.h
    // }
    // withLabel: long {
    //     cpus = 8
    //     memory = 64.GB
    //     time = 2.d
    //     queue = 'long' // TODO: Replace with dynamic queue specification below
    // }
    // withLabel: largemem {
    //     cpus = 8
    //     memory = 128.GB
    //     time = 16.h
    // }

    /*
    TODO: Specify path to containers/modules
    Configure software requirements for each process by name
    by specifying path to container
    and optionally process specific resources (e.g. cpus, time, memory)
    */

    // withName: FOO {
    //     cpus = 4
    //     time = '1d'
    //     memory = '64GB'
    //     container = "path/to/container"
    //     // or use beforeScript to load system module
    //     beforeScript "module load foo"
    // }

    /*
    // TODO: Replace static queue specification above by dynamic specification
    // Queue selection based on task configs
    */
    // queue = {
    //     if (task.time > 1.day) {
    //         "long"
    //     }
    //     else if (task.memory > 512.GB) {
    //         "large_mem"
    //     }
    //     else {
    //         "short"
    //     }
    // }

    // for shared file systems like BMRC cluster
    cache = 'lenient'

    // Fail a task if any command returns non-zero exit code
    // See https://www.nextflow.io/docs/latest/reference/process.html#shell
    shell = ['/bin/bash', '-euo', 'pipefail']
}
