// profile for local execution on the BMRC cluster

params {
    config_profile_description = 'BMRC local profile'
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = '/well/pharrison/users/piz649/.apptainer_cache'
}

process {
    executor = 'local'

    // label for processes to not use container but locally installed software
    withLabel: local_software {
        container = ""
    }

    // for shared file systems like BMRC cluster
    cache = 'lenient'

    // Fail a task if any command returns non-zero exit code
    // See https://www.nextflow.io/docs/latest/reference/process.html#shell
    shell = ['/bin/bash', '-euo', 'pipefail']
}
