params {
    config_profile_description = 'Profile for execution on my laptop'
}

process.executor = 'local'
docker.enabled = true
// https://nf-co.re/docs/usage/troubleshooting/docker_permissions
//docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'

executor.cpus = 6
executor.memory = '16 G'

process {
    containerOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'

    withName: ISOQUANT {
        containerOptions = ''
    }
}
