// config file with default pipeline parameters

params {
    // print help
    help = false

    /*
    Mandatory options
    =================
    */

    // *input options*
    // must specify one of inputdir or samplesheet
    // path to demultiplexed read directory
    inputdir = null
    // path to sample manifest in CSV format
    samplesheet = null

    // *references*
    // path to reference genome in fasta format
    genome = null
    // path to genome annotation in GTF format
    annotation = null

    /*
    Additional options
    =================
    */
    // *output directory*
    outdir = "results"

    // threshold for minimum number of reads that sample must contain
    // samples with number of reads below this threshold are discarded
    // this is mainly to get rid of unassigned barcodes
    min_reads_per_sample = 1000

    /*
    Tool/step options
    =================
    */

    // *nanoplot*

    // are input fastq files in 'rich' format
    is_fastq_rich = false

    // *read filtering options*

    // whether or not to skip read filtering
    skip_read_filtering = false
    // minimum read length to keep
    min_length = 10
    // minimum average read quality
    min_qual = 7

    // *restrander*

    run_restrander = false
    restrander_config = "${projectDir}/assets/restrander_config/PCB109.json"

    /*
    ALIGNMENT OPTIONS
    ------
    */

    // *General options*

    // whether to optionally use annotation as input in Minimap2 to prioritise on annotated splice junctions
    alignment_use_annotation = false

    // whether to filter alignment BAM to mapped reads only i.e. whether to filter out unmapped reads from alignments for downstream analyses
    filter_bam_mapped = true

    // *minimap*

    // whether to skip running genome indexing as a seperate process
    // if set to 'false', build the genome index and pass it to Minimap2 alignment
    skip_save_minimap2_index = false

    // any additional options to pass to Minimap indexing
    minimap2_indexing_extra_opts = ""

    // path to junction bed file for minimap
    minimap2_junc_bed = "${projectDir}/assets/NO_FILE"

    // preset (-x) option to minimap (string)
    minimap2_x = "splice"

    // kmer size (-k) option (integer) e.g. 14, set as empty string to use default minimap2 value
    minimap2_k = ""

    // -u option (character) e.g. "f", set as empty string to use default minimap2 value
    minimap2_u = ""

    // (-G) option e.g. "500k", set as empty string to use default minimap2 value
    minimap2_G = ""

    // (-I) option e.g. "8G", set as empty string to use default minimap2 value
    minimap2_I = ""

    // (-cs) option ("short" or "long") e.g. "long", set as empty string to use default minimap2 value
    minimap2_cs = ""

    // (--junc-bonus) option (integer) e.g 15. Effective with 'alignment_use_annotation' or 'minimap2_junc_bed'
    minimap2_junc_bonus = ""

    // any additional options to pass to Minimap e.g. "--splice-flank=no --junc-bonus 15"
    minimap2_extra_opts = ""

    // *RSeQC*
    // whether to skip read distribution calculation of aligned reads with RSeQC
    skip_rseqc = false

    /*
    ISOFORM DISCOVERY AND QUANTIFICATION OPTIONS
    ------
    */

    // *Isoquant*

    // whether to set flag --complete_genedb. Set to 'true' for official annotations
    isoquant_complete_genedb = true

    // any additional options to pass to IsoQuant e.g. "--sqanti_output --splice_correction_strategy conservative_ont"
    isoquant_extra_opts = ""

    // path to .txt file of input gene list for IsoQuant visualize module
    isoquant_visualize_genelist = ""

    // *flair*

    // any additional options to pass to flair collapse module e.g. "--stringent --check_splice --generate_map --annotation_reliant generate"
    flair_collapse_extra_opts = "--stringent --check_splice --generate_map --annotation_reliant generate"

    // path to reads manifest for flair align module
    flair_align_reads_manifest = ""

    /*
    Boilerplate options
    =================
    */

    // pipeline execution reports suffix
    // default add timestamp to pipeline execution reports
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // execute onComplete onError event handlers
    params.workflow_event_handlers = false
}
