// config file with default pipeline parameters

params {
    // print help
    help = false

    /*
    Mandatory options
    =================
    */

    // *input options*
    // must specify one of inputdir or samplesheet
    // path to demultiplexed read directory
    inputdir = null
    // path to sample manifest in CSV format
    samplesheet = null

    // *references*
    // path to reference genome in fasta format
    genome = null
    // path to genome annotation in GTF format
    annotation = null

    /*
    Additional options
    =================
    */
    // *output directory*
    outdir = "results"

    // threshold for minimum number of reads that sample must contain
    // samples with number of reads below this threshold are discarded
    // this is mainly to get rid of unassigned barcodes
    min_reads_per_sample = 1000

    /*
    Tool options
    =================
    */

    // *nanoplot*

    // are input fastq files in 'rich' format
    is_fastq_rich = false

    // *read filtering options*

    // whether or not to skip read filtering
    skip.read_filtering = false
    // minimum read length to keep
    min_length = 10
    // minimum average read quality
    min_qual = 7

    // *restrander*

    run_restrander = false
    restrander_config = "${projectDir}/assets/restrander_config/PCB109.json"

    // *minimap*

    // path to junction bed file for minimap
    minimap2_junc_bed = "${projectDir}/assets/NO_FILE"

    // preset (-x) option to minimap (string)
    minimap2_x = "splice"

    // kmer size (-k) option (integer) e.g. 14, set as empty string to use default minimap2 value
    minimap2_k = ""

    // -u option (character) e.g. "f", set as empty string to use default minimap2 value
    minimap2_u = ""

    // (-G) option e.g. "500k", set as empty string to use default minimap2 value
    minimap2_G = ""

    // (-I) option e.g. "8G", set as empty string to use default minimap2 value
    minimap2_I = ""

    // (-cs) option ("short" or "long") e.g. "long", set as empty string to use default minimap2 value
    minimap2_cs = ""

    // any additional options to pass to Minimap e.g. "--splice-flank=no --junc-bonus 15"
    minimap2_extra_opts = ""

    /*
    Boilerplate options
    =================
    */

    // pipeline execution reports suffix
    // default add timestamp to pipeline execution reports
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}
