// config file with default pipeline parameters

params {
    // print help
    help = false

    /*
    Mandatory options
    =================
    */

    // *input options*
    // must specify one of inputdir or samplesheet
    // path to demultiplexed read directory
    inputdir = null
    // path to sample manifest in CSV format
    samplesheet = null

    // *references*
    // path to reference genome in fasta format
    genome = null
    // path to genome annotation in GTF format
    annotation = null

    /*
    Additional options
    =================
    */
    // *output directory*
    outdir = "results"

    // threshold for minimum number of reads that sample must contain
    // samples with number of reads below this threshold are discarded
    // this is mainly to get rid of unassigned barcodes
    min_reads_per_sample = 1000

    /*
    Tool options
    =================
    */

    // *nanoplot*
    // are input fastq files in 'rich' format
    is_fastq_rich = false

    // *read filtering options*
    // minimum read length to keep
    min_length = 10
    // minimum average read quality
    min_qual = 7
}
