// test profile for providing pipeline parameters to run on a test dataset

// usage: nextflow run main.nf -profile <laptop,bmrc,local>,test_sirv

params {
    // Input data
    inputdir = "data/test/sirv/demultiplexed_fastq"

    // genome references
    genome = "data/test/sirv/SIRV_150601a.fasta"
    annotation = "data/test/sirv/SIRV_isoforms.gtf"

    outdir = "results/sirv"

    /*
    Over ride default tool options
    =================
    */

    //minimap
    skip_save_minimap2_index = true

    minimap2_k = 14

    minimap2_u = "f"

    minimap2_extra_opts = "--splice-flank=no"
}
