// test profile for providing pipeline parameters to run on test bd2-pilot dataset


params {
    // Input data
    inputdir = "data/test/bd2-pilot/reads"

    // *genome references*

    // gencode
    //genome = "/well/pharrison/users/piz649/projects/bd2_pilot/analysis/02_prep_input_secondary_analysis/results/references/gencode/GRCh38.primary_assembly.genome.fa"
    //annotation = "/well/pharrison/users/piz649/projects/bd2_pilot/analysis/02_prep_input_secondary_analysis/results/references/gencode/gencode.v49.basic.annotation.gtf"

    // merged gencode and SIRVome
    genome = "/well/pharrison/users/piz649/projects/bd2_pilot/analysis/02_prep_input_secondary_analysis/results/references/merged/merged.fa"
    annotation = "/well/pharrison/users/piz649/projects/bd2_pilot/analysis/02_prep_input_secondary_analysis/results/references/merged/merged.gtf"


    outdir = "results/test/bd2-pilot"

    /*
    Provide tool input and/or override default tool options
    =================
    */

    // optional list of ENSEMBL ID's to subset BAMs to generate BAMs for only the genes in list
    genelist_to_subset_alignments = "assets/genelist_of_interest.txt"

    // *cDNA QC*

    pychopper_cdna_kit = "LSK114"

    //cdna_qc_method = "restrander"
    //restrander_config = "${projectDir}/assets/restrander_config/DCS-LSK114.json"

    //*minimap*
    minimap2_G = "500k"

    // path to RSeQC housekeeping genes BED file to run RSeQC geneBody_coverage.py module
    rseqc_housekeeping_bed = "/well/pharrison/users/piz649/projects/bd2_pilot/analysis/02_prep_input_secondary_analysis/results/references/rseqc/hg38.HouseKeepingGenes.bed"

    // Whether to skip running isoform discovery with isoquant or flair
    skip_isoform_discovery = true
}
