// test profile for providing pipeline parameters to run on a test dataset

// usage: nextflow run main.nf -profile <laptop,bmrc,local>,test_sib_lr_course

params {
    // Input data
    inputdir = "data/test/sib-lr-course/reads"

    // genome references
    genome = "data/test/sib-lr-course/references/references/Homo_sapiens.GRCh38.dna.primary_assembly.chr5.chr6.chrX.fa"
    annotation = "data/test/sib-lr-course/references/references/Homo_sapiens.GRCh38.111.chr5.chr6.chrX.gtf"

    outdir = "results/sib-lr-course"

    /*
    Over ride default tool options
    =================
    */

    // nanoplot
    is_fastq_rich = true

    //*minimap*
    minimap2_G = "500k"
}
